<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IP" value="127.0.0.1"/>
		<add key="PORT" value="2572"/>
		<add key="DBNAME" value="MyDatabase"/>
		<add key="USERID" value="sa"/>
		<add key="USERPASSWORD" value="1234"/>
	</appSettings>
</configuration>