<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- 서비스 라이브러리 프로젝트를 배포할 때 호스트의 app.config 파일에 구성 파일의 내용을 추가해야 합니다.
  System.Configuration이 라이브러리에 대한 구성 파일을 지원하지 않습니다. -->
	<system.serviceModel>
		<diagnostics performanceCounters="Default" />
		<bindings>
			<wsHttpBinding>
				<binding name="websocketHttpBinding">
					<security mode="Message">
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="UserCertificate" name="GettingStartedLib.CalculatorService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/GettingStarted/CalculatorService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="websocketHttpBinding"
              contract="GettingStartedLib.ICalculator">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UserCertificate">
					<!--https를 쓰므로 httpsGetEnabled을 true해야 함 -->
					<!--HTTPS GET을 사용하여 메타데이터에 액세스할 수 있는 정확한 URL을 지정 -->
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<!--인증서를 등록 ThumbPrint를 등록하고 FindByThumbprint에 작성 -->
						<serviceCertificate findValue="592BC3217DAFF33EF614D8B91AA04A2FC655A2E9"
                          storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>