<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<diagnostics performanceCounters="Default" />
		<bindings>
			<netTcpBinding>
				<binding name="net.TcpBinding">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="net.TcpBehavior" name="GettingStartedLib.CalculatorService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8080/GettingStarted/CalculatorService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="net.TcpBinding"
				          name="CalculatorService" contract="GettingStartedLib.ICalculator" />
				<endpoint address="mexTcp" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="net.TcpBehavior">
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>