<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- 서비스 라이브러리 프로젝트를 배포할 때 호스트의 app.config 파일에 구성 파일의 내용을 추가해야 합니다. 
  System.Configuration이 라이브러리에 대한 구성 파일을 지원하지 않습니다. -->
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="websocketHttpBinding">
					<security mode="Message">
						<message clientCredentialType="Certificate"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="UserCertificate" name="GettingStartedLib.CalculatorService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="websocketHttpBinding"
				          contract="GettingStartedLib.ICalculator">
					<identity>
						<dns value="www.newbigwater.com" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/GettingStarted/CalculatorService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UserCertificate">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceCredentials>
						<serviceCertificate findValue="5619207BCAFC85D7D2FEC7A621458A9CBA863C3A" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>