<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleSoapServerSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SimpleSoapServerSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44313/SimpleSoapServer.asmx"
                binding="basicHttpBinding" bindingConfiguration="SimpleSoapServerSoap"
                contract="ServiceReference1.SimpleSoapServerSoap" name="SimpleSoapServerSoap" />
        </client>
    </system.serviceModel>
</configuration>